{% extends 'master.html' %}
{% block body %}

<section>
    <div class="container">
        <div class="col-sm-9 padding-right">
            <div class="features_items">
                <h2 class="title text-center">Wishlist Products</h2>
                 {% for item in wishlist %}
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="/{{item.product.image}}" alt=""  height="300px"/>
                                
                                    <span>
                                        <span>Rs {{item.product.price}}</span>
                                        <a href="{% url 'cart_add' item.product.id %}" type="button" class="btn btn-fefault cart">
                                            <i class="fa fa-shopping-cart"></i>
                                            Add to cart
                                        </a>
                                    </span>
                                    <p>{{item.product.name}}</p>
                                </div>
                        </div>      
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
</section>

{% endblock %}